<div class="league-selection-container">
  <div class="league-selection-form">
<%= form_with(url: '/league') do |f| %>
  <%= label_tag :league, "League:", :class => "league-selection-label" %>
<%= select_tag :league, options_for_select(@leagues.map { |l| [l['name'], l['id']]}) %>
  <%= f.submit "Submit", :class => "btn btn-block league-selection-submit", :id => "league-selection-submit" %>
<% end %>
</div>
</div>
