<div class="league-selection-container">
<form action="" class="league-selection-form">
  <div>
  <label for="league" class="league-selection-label">League:</label>
<select id="league" name="league">
<% @leagues.each do |league| %>
  <option value=<%= league['id'] %>> <%= league['name'] %></option>
<% end %>
</select>
</div>
  <input class="btn btn-block league-selection-submit" type="submit" value="Submit">
</form>
</div>
