<form action="">
  <label for="league">League:</label>
<select id="league" name="league">
  <option value="" selected>Select a League</option>
<% @leagues.each do |league| %>
  <option value=<%= league['id'] %>> <%= league['name'] %></option>
<% end %>
</select>
<br>
  <input class="btn btn-primary" type="submit" value="Submit">
</form>
