<h1>TeamSelection#index</h1>
<p>Find me in app/views/team_selection/index.html.erb</p>

<form action="">
  <label for="league">League:</label>
<select id="league" name="league">
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="fiat">Fiat</option>
  <option value="audi">Audi</option>
</select> 
<br>
  <label for="team">Team:</label>
<select id="team" name="team">
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="fiat">Fiat</option>
  <option value="audi">Audi</option>
</select> 
<br>
  <input type="submit" value="Submit">
</form> 
